@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@700');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

body{
	background: #eee8;
	padding: 0;
	margin: 8px;
}
.app{
	max-width: 800px;
	min-height: calc(100vh - 16px);
	margin: auto;
	background: #ffff;
}

canvas{
	background: transparent;
	border: 1px solid #9993;
}
textarea{
	width: 200px;
	height: 100px;
	font-size: 20px;
}
p{
	text-align: center;
}
.checkbox-with-label{
	position: fixed;
	left: -9999px;
}
.checkbox-label-button{
	display: inline-block;
	border: 2px solid #0001;
	background: #ffff;
	margin: 2px;
	border-radius: 4px;
	padding: 4px 4px;
	min-width: 40px;
	line-height: 24px;
	cursor: pointer;
}
.checkbox-label-button:hover{
	background: #ffff;
}
:checked + .checkbox-label-button{
	border: 2px solid #0001;
	background: #eeef;
}
.checkbox-label-button:hover{
	border: 2px solid #0009;
}
.checkbox-label-button.disabled{
	border: 2px solid #0001;
	color: #0006;
}
.sample{
	font-size: 16px;
	font-family: "Noto Sans JP";
	vertical-align: middle;
	padding: 8px;
	position: relative;
	margin: 8px;
	border: 1px solid #888;
}

.sample.light{
	background: rgb(255, 255, 255);
	color: rgb(29, 28, 29);
}
.sample.light:hover{
	background: rgb(248, 248, 248);
}
.sample.light .stamp{
	background: rgba(29, 28, 29, 0.04);
}
.sample.light .stamp.selected{
	background: rgba(29, 155, 209, 0.1);
}

.sample.dark{
	background: rgb(0, 0, 0);
	color: rgb(209, 210, 211);
}
.sample.dark:hover{
	background: rgb(26, 29, 33);
}
.sample.dark .stamp{
	background: rgba(232, 232, 232, 0.04);
}
.sample.dark .stamp.selected{
	background: rgb(18, 100, 163);
}


.sample img{
	vertical-align: text-bottom;
	border: 0px none;
	margin: 0 2px;
}
.sample .stamp-group img{
	margin: 0;
}
.sample .stamp-group{
	margin: 0 2px;
}
.sample .stamp{
	display: inline-block;
	border-radius: 16px;
	height: 24px;
	vertical-align: middle;
	margin: 0;
	padding: 2px 12px;
	cursor: pointer;
}
.sample p{
	margin: 0;
	text-align: left;
}
.sample-list{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: fit-content;
}

.source, .result{
	width: calc(100% - 32px);
	margin: 8px;
	padding: 16px 8px;
}

.result{
	display: flex;
	flex-direction: column;
	background: #eee8;
}


.config-item{
	position: relative;
	height: 36px;
	clear: both;
	z-index: 100;
}
.config-item:after{
	position: absolute;
	width: 100%;
	height: 2px;
	top: 17px;
	left: 0;
	background: #0001;
	content: "";
	z-index: 90;
}
.config-item *{
	z-index: 110;
}
h3{
	margin: 2px 8px 2px 0;
	float: left;
	clear: both;
	line-height: 36px;
	position: relative;
	padding: 0 4px;
}
.source h3{
	background: #fff;
}
.source p{
	margin: 0 0 0 8px;
	float: right;
	text-align: right;
	position: relative;
}
.source p span{
	text-align: center;
}
.source p:last-child{
	margin-bottom: 24px;
}

.main{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
@media (max-width: 600px){
	.main{
		flex-direction: column;
	}
}

h1{
	background: url("bento.jpg");
	background-size: cover;
	background-position: 50% 50%;
	height: 200px;
	padding: 40px 10%;
	text-shadow: #ffff 0 0 8px;
	color: #000f;
}